Biblioteca_Isra.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="biblioteca">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="libros">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="libro" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="titulo_libro" type="xs:string"></xs:element>
                                        <xs:element name="capitulo" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="titulo_capitulo" type="xs:string"></xs:element>
                                                    <xs:element name="contenido_capitulo">                         
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="info"></xs:attribute>
                                                                </xs:extension>
                                                             </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="n_capitulo">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:integer">
                                                            <xs:pattern value="[0-9]{2}"></xs:pattern>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                                <xs:attribute name="n_paginas" type="xs:integer"></xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="indice" type="xs:string"></xs:element>
                                        <xs:element name="sinopsis" type="xs:string"></xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:pattern value="L[0-9]{4}"></xs:pattern>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="tipo_clase" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="novela"></xs:enumeration>
                                                <xs:enumeration value="infantil"></xs:enumeration>
                                                <xs:enumeration value="didactico"></xs:enumeration>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="n_paginas" type="xs:integer"></xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="revistas">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="revista" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="titulo_revista" type="xs:string"></xs:element>
                                        <xs:element name="numero">                         
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="numero"></xs:attribute>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="indice" type="xs:string"></xs:element>
                                        <xs:element name="seccion_revista" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="nombre" type="xs:string"></xs:element>
                                                    <xs:element name="contenido_seccion">                         
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="info"></xs:attribute>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="n_paginas" type="xs:integer"></xs:attribute>
                                            </xs:complexType>
                                        </xs:element>                                             
                                    </xs:sequence>
                                    <xs:attribute name="id" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:pattern value="R[0-9]{4}"></xs:pattern>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="tipo_clase" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="informatica"></xs:enumeration>
                                                <xs:enumeration value="corazon"></xs:enumeration>
                                                <xs:enumeration value="coches"></xs:enumeration>
                                                <xs:enumeration value="investigacion"></xs:enumeration>
                                                <xs:enumeration value="otras"></xs:enumeration>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="n_paginas" type="xs:integer"></xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="periodicos">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="periodico" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="seccion_periodico" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="articulo" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="titulo_articulo" type="xs:string"></xs:element>
                                                                <xs:element name="contenido_articulo">
                                                                    <xs:complexType>
                                                                        <xs:simpleContent>
                                                                            <xs:extension base="xs:string">
                                                                                    <xs:attribute name="info"></xs:attribute>
                                                                            </xs:extension>
                                                                        </xs:simpleContent>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute name="autor" type="xs:string"></xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="tipo_seccion">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:enumeration value="ecoomia"></xs:enumeration>
                                                            <xs:enumeration value="opinion"></xs:enumeration>
                                                            <xs:enumeration value="deportes"></xs:enumeration>
                                                            <xs:enumeration value="nacional"></xs:enumeration>
                                                            <xs:enumeration value="internacional"></xs:enumeration>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="indice" type="xs:string"></xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:pattern value="P[0-9]{4}"></xs:pattern>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="tipo_clase" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="nacional"></xs:enumeration>
                                                <xs:enumeration value="internacional"></xs:enumeration>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="fecha_publicacion" type="xs:date" use="required"></xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>                        
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>